body {
    background-image: url("../images/greyzz.png");
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    overflow: auto;
} 


/*Nav Bar*/
.navbar {
    background-image: url("../images/black_paper.png");
    border-bottom: 2px solid #fdd9d2;
    padding: 0px;
    
}

/*Nav Link*/

.nav-link {
    border: 1px solid #fdd9d2;
    margin: 2px;
    color: white;
}

.nav-link:hover {
    background-color: #fdd9d2;
    color: black;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/menu.png");
}

/*Name-Logo*/
.navbar-brand {
    font-family: 'Sacramento', cursive;
    background-color: #fdd9d2;
    color: black;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    padding: 15px 25px 0px 25px;
}

/*Container*/

body > .container {
    margin-top: 30px;
    overflow: auto;
    margin-bottom: 75px;
}

#navcontainer {
    overflow: hidden;
}

#bodycontainer {
    overflow: auto;
}

h2 {
    padding-top: 20px;
    border-bottom: 2px solid #fdd9d2;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

/*Left Side Content (About me, portfolio, contact me form)*/
.row {
    margin: 20px;
    display: flex;
    margin: 0;
}

.col-md-8 {
    background-color: white;
    border-radius: .25rem;
}

/*Connect with me card*/

.card {
    text-align: center;
    margin: 15px;
    border: 0px;
}

.icon {
    margin: 10px;
}
/*End Card*/
/*End Container*/


/*About Me*/
#gradphoto {
    float: left;
    margin-right: 15px;
}

p {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
/*End About Me*/

/*Form*/
.form-control {
    border: 2px solid #dac2a8;
}

label {
    margin: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

input {
    margin: 5px;
}

#message {
    height: 150px;
}

#button {
    background-color: #404040;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    border: none;
}
/*End Form*/


/*Portfolio*/

.thumbnail {
    position: relative;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
    margin-bottom: 15px;
    width: 285px;
    background-color: black;
}

.caption {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
}

.img-fluid {
    height: 200px;
}

.samples-1 {
    margin-top: 20px;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    background: pink;
    color: black;
    font-size: 30px;
    padding: 5px 0px;
}
/*End Portfolio*/

/*Footer*/
.fixed-bottom {
    text-align: center;
    background-image: url("../images/black_paper.png");
    color: white;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    border-top: 2px solid #fdd9d2;
}

@media screen and (max-width:980px){
    h1 {
        margin: auto;
    }

    .navbar {
        width: 100%;
    }
}